@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
    line-height: 150%;
    background: white;
}

nav {
    font-family: 'Open Sans', 'Lato', sans-serif;

    height: 50px;
    vertical-align: middle;
    line-height: 50px;

    background: #fff;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
}

nav #nav {
    margin-left: 50px;
    margin-right: 50px;
}

nav #nav #nav_name {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    color: #2b2b2b;
}

nav #nav #nav_name a {
    text-decoration: none;
    transition: color 0.6s ease;
}

div .inline {
    display: inline-block;
}

div .center {
    vertical-align: middle;
}

div #home {
    padding: 0 50px;
}

div #profile {
    width: 25%;
    padding: 20px;
}

div #profile_desc_header {
    font-size: 26px;
}

div #profile_desc_info {
    font-size: 16px;
    color: gray;
}

div .location {
    font-size: 14px;
    color: gray;
}

div #info {
    margin-top: 30px;
    width: 70%;
}

div #greetings {
    font-size: 30px;
}

div #interests {
    width: 30%;
    padding: 20px;
}

div #experience {
    width: 60%;
}
